<app-header></app-header>

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <a routerLink="user-management" routerLinkActive="active" class="nav-link"> User Management</a>
        <a routerLink="donation-management" routerLinkActive="active" class="nav-link"> Donation Management</a>
        <a routerLink="user-view" routerLinkActive="active" class="nav-link"> User View</a>
        <a routerLink="cart" class="button fancy-button">

            <i class="material-icons" >shopping_cart</i> Cart
        </a>
    </nav>

    <!-- Page Content -->
    <div id="content" >
        <router-outlet></router-outlet>   
    </div>

</div>  
