<h2>Cart</h2>

<nav class ="navbar navbar-dark" style="background-color: #d5dee4;">
    <h3><button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" (click)="onClickBack()">Make Another Donation</button></h3>
    <ul class="navbar-nav">

    
    <li><button type="button" class="btn btn-primary" (click)="onClickRemove()">Empty</button></li>

     </ul>

</nav>

<table class = "table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Donation Type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let item of items">
            <td>{{item.name}}</td>
            <td>{{item.date | date: 'MM/dd/yyyy'}}</td>
            <td>{{item.amount | currency:'USD': 'symbol' :'1.2-2'}}</td>
            <td>{{item.type}}</td>
            
        </tr>

    </tbody>
</table>

<h3>    
    
    <button type="button" class="btn btn-success" (click)="onClickFinish()">finish</button>
</h3>
