<h2> Donation Management </h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Donation Type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let donation of donations">
            <td>{{donation.name}}</td>
            <td>{{donation.date | date: 'MM/dd/yyyy'}}</td>
            <td>{{donation.amount | currency:'USD': 'symbol' :'1.2-2'}}</td>
            <td>{{donation.type}}</td>
        </tr>

    </tbody>
</table>